# Copy this file to .env and fill in your own values.
# Do not commit your real .env file to GitHub.

ITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_7SrqbcsakCKufQrmkXSYIQ_uwX7cKku"
VITE_SUPABASE_URL="https://edsckcemfcfyagdqspse.supabase.co"
VITE_CHATBOT_API_KEY="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"
