# Copy this file to .env and fill in your own values.
# Do not commit your real .env file to GitHub.

ITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_7SrqbcsakCKufQrmkXSYIQ_uwX7cKku"
VITE_SUPABASE_URL="https://edsckcemfcfyagdqspse.supabase.co"
VITE_CHATBOT_API_KEY="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"
